:root {
  --white: #fff;
  --black: #222631;
  --black2: #292929;
  --black3: #353D50;
  --gray: #ACACAC;
  --gray2: #BBBEC3;
  --gray3: #B8BEC3;
  --gray4: #DADDE5;
  --gray5: #EAEDF3;
  --gray6: #E0E7ED;
  --gray7: #F4F6FA;
  --gray8: #F2F4F5;
  --gray9: #707070;
  --gray10: #D9D9D9;
  --gray11: #E3E4E5;
  --red: #FF6060;
  --red2: #FFDEDE;
  --green: #00BA6C;
  --green2: #E2FCEF;
  --blue: #0C72D0;
  --orange: #ED8A34;
  --orange2: #FDF3EB;

  --primary: #029ED0;
  --primary-light: #F0F8FC;
  --primary-light2: #92C7D8;

  --dim: rgba(0, 0, 0, 0.30);
  --shadow: rgba(46, 54, 58, 0.10);

  --font-color: var(--black);
  --font-color1: var(--white);
  --font-color2: var(--black3);
  --font-color3: var(--gray9);
  --font-color4: var(--gray);
  --font-color5: var(--gray3);
  --font-color6: var(--gray2);

  --point-color: var(--primary);
  --point-color1: var(--orange);
  --point-color2: var(--blue);
  --point-color3: var(--green);
  --point-color4: var(--red);
  --point-color5: var(--gray);
  --point-color6: var(--gray9);

  --icon-color: var(--primary);
  --icon-color1: var(--black);
  --icon-color2: var(--gray9);
  --icon-color3: var(--gray2);
  --icon-color4: var(--red);
  --icon-color5: var(--white);

  --bg-color: var(--gray7);
  --bg-color1: var(--gray2);
  --bg-color2: var(--white);
  --bg-color3: var(--gray10);
  --bg-color4: var(--gray3);
  --bg-color5: var(--gray5);
  --bg-color6: var(--gray);
  --bg-color7: var(--primary-light);
  --bg-color8: var(--green2);
  --bg-color9: var(--orange2);
  --bg-color10: var(--gray4);

  --border-color: var(--gray4);
  --border-color1: var(--gray2);
  --border-color2: var(--gray9);
  --border-color3: var(--gray11);
  --border-color4: var(--gray3);
  --border-color5: var(--gray6);
  --border-color6: var(--gray8);

  --content-margin1: 8px;
  --content-margin2: 16px;
  --content-margin3: 24px;
  --content-margin4: 32px;
  --content-margin5: 40px;
  --content-margin6: 48px;
  --content-margin7: 56px;

  --radius: 5px;
  --radius1: 6px;
  --radius2: 8px;
  --radius3: 16px;

  --form-caret: var(--primary-light2);
}