@import '../assets/scss/mixin';
.wrap {
  &:before {
    content: "";
    @include pos(fixed, $a: 0, $z: -1);
    background: #0d1117;
  }
	color: #f0f6fc;
}
.header {
  position: sticky;
  top: 0;
  z-index: 50;
	display: flex;
	align-items: center;
	background: #161b22;
}
.logo { padding: 15px 30px 15px 20px; }
.nav a {
  position: relative;
  display: inline-block;
  margin-right: 20px;
  &:global(.isActive:before) {
    content: "";
    position: absolute;
    right: 0; bottom: 0; left:0;
    border-bottom: 1px solid;
  }
}
.container {
  padding: 30px;
	color: #c9d1d9;
  font-size: 12px;
  pre {white-space: pre;}
}
.table {
  margin-top: -1px;
	border-top: 1px solid #30363d;
	text-align: left;
  th, td {
    padding: 5px 10px;
    border-bottom: 1px solid #30363d;
    word-break: break-all;
  }
  thead th {text-align: center;}
  tbody th {width: 200px;}
  tbody tr:hover {background: #161b22;}
  th {background: #21262d;}
  td {
    img {
      display: none;
      position: fixed;
      left: 20px; bottom: 20px;
      z-index: 10;
    }
    &:hover img {display: block;}
    dl {display: none;}
    ul li {list-style-type: disc;}
  }
  @media screen and (max-width: 540px) {
    tbody th {width: 30%;}
    col:nth-of-type(4) ~ col,
    th:nth-of-type(4) ~ th,
    td:nth-of-type(4) ~ td {display: none;}
    td:hover img {display: none;}
  }
}

.colorChip {
	display: inline-block;
	width: 60px;
  margin-right: 4px;
	vertical-align: top;
  text-align: center;
  span {
    display: block; height: 50px;
    border: 1px solid #30363d;
  }
}

.dialog {
  position: fixed;
  bottom: 100px; left: 50%;
  padding: 5px 20px;
  transform: translate(-50%, 50%);
  background: #0d1117;
  border: 1px solid #30363d;
  border-radius: 15px;
  color: #f0f6fc;
  opacity: 0;
  transition: transform .3s, opacity .3s;
  &:global(.isShow) {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}